# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Data & Large Files
data/raw/*
!data/raw/.gitkeep
mlruns/
results/*
!results/.gitkeep
*.pkl
*.joblib

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code & IDEs
.vscode/
.idea/

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# mypy & linters
.mypy_cache/
.ruff_cache/

# OS
Thumbs.db
.DS_Store


planning 
